@use "../../../assets/scss/variables" as variables;

.content {
	padding-bottom: 250px;

	&.no-overflow {
		overflow: hidden;
		max-height: 100%;
	}
}

.enter-high-score-container {
	position: relative;

	.button-container {
		//	position: absolute;
		width: 100%;
		// padding-bottom: 90px;
		margin: 50px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		pointer-events: none;

		.btn {
			pointer-events: auto;
		}

		.btn-info {
			display: block;
			/*background-color: transparent;
			border: 3px solid #fff;*/
			width: 670px;
			padding: 30px 10px;
			min-width: auto;
			font-size: 1em;
			// margin-bottom: 50px;

			background-color: #d4d4d442;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}

	.nickname-form {
		//	position: absolute;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
}

.legal-links {
	position: absolute;
	bottom: 1px;
	left: 0; // 25px;
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: nowrap;

	.btn-legal {
		/*padding: 5px 20px;
		margin-bottom: 19px;*/
		padding: 0 20px;
		margin-bottom: 9px;

		font-size: 36px;
		background-color: transparent;
	}
}