<div class="game-score-table-container">
	<div class="game-score-table"
		 [style.color]="colorFont"
		 [style.background-color]="colorBackground"
		 [style.border-radius.px]="borderRadius"
		 [style.border-width.px]="border"
		 [style.border-color]="borderColor"
	>
		<div class="header grid t-row"
			 [style.color]="colorFontHeader"
		>
			<div class="t-col col1"></div>
			<div class="t-col col2">{{ 'nickname' | nativeTranslate }}</div>
			<div class="t-col col3 correct-rate">{{ 'correct-highscore' | nativeTranslate }}</div>
			<div class="t-col col4 score">
				<div class="score-image"
					 [style.background-image]="frontImageUrl"
					 [style.margin-right.px]="borderRadius * 0.5"
				></div>
			</div>
		</div>
		<div class="main">
			@for (row of gameScoreService.signalTopGameScores(); track i; let i = $index) {
				<div class="grid t-row"
					 [style.--table-row-odd-bg]="colorBackgroundRowOdd"
				>
					<div class="t-col col1"
					><span class="rank"
						   [ngStyle]="{'background-image': signalRankGradient()}"
						   [style.color]="fontColorRank"
						   [style.animation-duration.s]="rankAniDuration"
						   [style.border-radius.px]="rankBorderRadius"
						   [style.border-width.px]="rankBorder"
						   [style.border-color]="rankBorderColor"
					>{{ i + 1 }}</span></div>
					<div class="t-col col2">
						@if (isLoading) {
							<div class="loader" [style.--loader-color]="colorFont"></div>
						} @else {
							<span class="nickname">{{ row.nickname }}</span>
						}
					</div>
					<div class="t-col col3">
						@if (isLoading) {
							<div class="loader" [style.--loader-color]="colorFont"></div>
						} @else {
							{{ (row.correctRate * 100).toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}%
						}
					</div>
					<div class="t-col col4 text-end">
						@if (isLoading) {
							<div class="loader" [style.--loader-color]="colorFont"></div>
						} @else {
							{{ row.score.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
						}
					</div>
				</div>
			}
			<!--@if (userGameService.signalGameScore() &&
			userGameService.signalGameScore()!.nickname.length > 0) {
				<div class="t-row">
					<div class="t-col">51</div>
				</div>
			}-->
		</div>
		<div class="footer">
		
		</div>
	</div>
	@if (userGameService.signalGameScore() && userGameService.signalGameScore()!.nickname.length > 0 ||
	iFrameEventRuleService.signalIsActivated()) {
		<div class="grid user-score-container"
			 [style.color]="userRowColorFont"
			 [style.background-color]="userRowColorBackground"
			 [style.border-radius.px]="userRowBorderRadius"
			 [style.border-width.px]="userRowBorder"
			 [style.border-color]="userRowBorderColor"
		>
			<div class="t-col">@if (signalUserRank() !== -1 ||
			iFrameEventRuleService.signalIsActivated()) {
				@if (isLoading) {
					<div class="loader mx-auto" [style.--loader-color]="colorFont"></div>
				} @else {
					<span class="rank"
						  [ngStyle]="{'background-image': signalUserRankGradient()}"
						  [style.color]="userRankColorFont"
						  [style.animation-duration.s]="userRankAniDuration"
						  [style.border-radius.px]="userRankBorderRadius"
						  [style.border-width.px]="userRankBorder"
						  [style.border-color]="userRankBorderColor"
					>{{ signalUserRank() }}</span>
				}
			}</div>
			<div class="t-col"><span class="nickname">{{ userGameService.signalGameScore()!.nickname }}</span>
			</div>
			<div class="t-col">
				{{
					(userGameService.signalGameScore()!.correctRate * 100).toLocaleString(nativeTranslateService.currentLocale ?? 'en-US')
				}}%
			</div>
			<div
				class="t-col"
				[style.margin-right.px]="userRowBorderRadius * 0.2"
			>{{
					userGameService.signalGameScore()!.score.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US')
				}}
			</div>
		</div>
	}
</div>
