@use "../../../assets/scss/variables" as variables;

.shape-slingshot-game {
	position: relative;
	width: 100%;
	height: 100%;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		max-width: 100%;
		max-height: 100dvh;
		object-fit: cover;
	}

	.game {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;
		user-select: none;

		.board {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;

			.play-card, .target {
				position: absolute;
				background-color: #aaa;
				/*border: 0.03vw #fff solid;*/
				border: 0.02em #fff solid;
				/*border-radius: 1vw;*/
				border-radius: 0.75em;
				pointer-events: none;
				padding: 0;
				color: variables.$app-main-dark-color;

				.debug-gui {
					position: absolute;
					top: 0;
					right: 0;
					width: 70%;
					color: #000;
					padding: 0.75em;
					background-color: #fff;
					border: 0.02em #000 solid;
					z-index: 1000;
					overflow: hidden;
					/*font-size: 0.4vw;*/
					font-size: 0.5em;
					/*line-height: 0.4vw;*/
					line-height: 1;
				}

				&.not-at-target {
					background-color: #fff;
				}

				&.valid-target {
					color: #fff;
					background-color: variables.$roy-green;
				}

				&.invalid-target {
					color: #fff;
					background-color: variables.$app-red;
				}
			}

			.play-card {
				/*padding: 0 1.7vw;*/
				padding: 0 1.275em;
				display: flex;

				.content {
					text-align: center;
					/*font-size: 1.3vw;*/
					font-size: 0.975em;
					padding: 0.75em;
				}
			}

			.target {
				color: #fff;
				background-color: rgba(255, 255, 255, 0.1);
				/*border: 0.15vw #fff dotted;*/
				border: 0.1em #fff dotted;

				.content {
					text-align: center;
					/*font-size: 2vw;*/
					font-size: 1.5em;
					padding: 0.5em;
				}
			}
		}
	}
}