.correct-container {
	position: absolute;
	left: 0;
	top: 10%;
	width: 100%;

	height: 66%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	pointer-events: auto;

	&.visible {
		z-index: 1;

		.circle {
			scale: 1;
		}
	}

	.combo-container, .superfast-container {
		/*position: absolute;
		top: 370px;*/
		opacity: 0;
		scale: 1;

		&.visible {
			animation: scalePush 2000ms 1 ease-in-out;
		}

		pointer-events: none;
	}

	/*.superfast-container {
		top: 1045px;
	}*/

	@keyframes scalePush {
		0% {
			opacity: 0;
			scale: 1;
		}

		40% {
			opacity: 1;
			scale: 1.4;
		}

		60% {
			opacity: 1;
			scale: 1.2;
		}

		100% {
			opacity: 1;
			scale: 1.2;
		}
	}

	.circle {
		width: 455px;
		height: 455px;
		background-color: transparent;
		border-radius: 50%;
		margin: 0 auto 30px auto;
		pointer-events: none;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		/*border: 3px #fff solid;*/

		scale: 0;
		transition: scale 200ms;

		.image {
			position: relative;
			width: 100%;
			height: 100%;
			pointer-events: none;

			.great {
				width: 100%;
				height: auto;
			}
		}
	}

	.btn-show-dialog-container {
		position: relative;
		margin-top: 35px;

		//pointer-events: all;
		z-index: 1;

		.show-dialog-img {
			width: 100%;
			height: 100%;

			mask-repeat: no-repeat;
			mask-size: contain;
			mask-position: center;
			background-color: #fff;
		}
	}
}