.content {
	height: 100%;
	padding-top: 25%;
}

.header {
	position: absolute;
	width: 100%;
	padding: 2% 2% 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		mask-image: none;
		// mask-image: url('image.png');
		mask-repeat: no-repeat;
		mask-size: 100px;
		mask-position: center;
		background-color: #fff;
	}
}

.question-counter {
	text-align: center;
	margin-bottom: 2rem;
}

.question {
	text-align: center;
	margin-bottom: 30%;
}

.answer-buttons {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	// justify-content: space-between;
	justify-content: flex-start;
	align-items: stretch;

	width: 100%;
	height: 40%;

	.answer {
		width: 100%;
		padding: 1rem 2rem;
	}

	app-base-button {
		margin-bottom: 10%;
	}
}