<app-modal-background></app-modal-background>

<div class="modal-header">
	<div class="modal-title">
		<div class="title">
			<div class="star-image" [style.background-image]="signalStarImageUrl()"></div>
			<div>{{ (roundScore > 0 ? 'great' : 'too-bad') | nativeTranslate }}</div>
			<!--<div class="game-time">{{ runtime * 1000 | date:'mm:ss' }}</div>-->
			<div class="star-image" [style.background-image]="signalStarImageUrl()"></div>
		</div>
	</div>
	<!--<button type="button" class="btn" aria-label="Close"
	(click)="onClickClose(false)"
	>
	<fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>-->
</div>
<div class="modal-body font-secondary">
	<div class="bonus">
		<table class="table">
			<tr>
				<th class="text-center">Frage</th>
				<th class="text-start col-bg" style="padding-left: 20px;">Punkte</th>
				<!--<th>Combo</th>
				<th class="col-bg">Zeit</th>-->
				<th class="text-end">Gesamt</th>
			</tr>
			@for (value of topicQuestionResultList; track value; let i = $index) {
				<tr>
					<td class="text-center"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800 - 800"
					>{{ (i + 1).toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</td>
					<td class="text-start col-bg" style="padding-left: 20px;"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800 - 500"
					>
						{{ value.score.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
						@if (value.comboScore > 0) {
							<span
								class="col-add"
							>+ Combo {{ value.comboScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}</span>
						} @if (value.remainingTimeScore > 0) {
						<span
							class="col-add"
						>+ Zeit {{ value.remainingTimeScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
              </span>
					}
					</td>
					<!--<td>
					<ng-container *ngIf="value.comboScore > 0">+{{ value.comboScore }}</ng-container>
				  </td>
				  <td class="col-bg">
					<ng-container *ngIf="value.remainingTimeScore > 0">+{{ value.remainingTimeScore }}
					</ng-container>
				  </td>-->
					<td class="text-end"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800"
					>{{ value.totalScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
						<!--{{ value.totalScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}-->
					</td>
				</tr>
				<!--<tr>
				<td>Time-Bonus:</td>
				<td class="text-end">+ {{value.comboScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }} {{ value.comboScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}</td>
			  </tr>-->
			}
		
		</table>
	</div>
	<div class="result">
		<div>{{ 'round-result' | nativeTranslate }}:</div>
		@if (topicQuestionResultList.length > 0) {
			<div
				[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'"
				[timeout]="topicQuestionResultList.length * 800"
			>{{ roundScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
				<!--{{ roundScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}-->
			</div>
		}
	</div>
	<div class="total">
		<div>{{ 'total' | nativeTranslate }}:</div>
		@if (topicQuestionResultList.length > 0) {
			<div
				[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'"
				[timeout]="topicQuestionResultList.length * 800 + 800"
			>{{ totalScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
				<!--{{ totalScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}-->
			</div>
		}
	</div>
</div>
<div class="modal-footer justify-content-center">
	<button type="button" class="btn btn-primary" (click)="onClickClose(true)">
		@if (totalScore > 0) {
			{{ (wasLastGame ? 'end-game' : 'continue') | nativeTranslate }}
		} @else {
		{{ (wasLastGame ? 'end-game' : 'continue') | nativeTranslate }}
	}
	</button>
</div>