.loading-block {
	position: fixed;
	z-index: 2001;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation-duration: 2s;
	animation-name: fadeIn;
	background-color: rgba(0, 0, 0, 0.3);

	&.for-container {
		position: absolute;
	}

	.spinner-container {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.progress-container {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 80%;
		max-width: 400px;
		transform: translate(-50%, 30px);
	}
}

.block-id {
	position: fixed;
	top: 10px;
	left: 10px;
	font-size: 20px;
	background-color: #ffffff99;
	color: red;
	z-index: 2002;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}