@use "../../../../assets/scss/variables" as variables;

.dialog-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);

	// prevent zooming page
	touch-action: none;

	will-change: scale;

	.dialog {
		position: relative;
		width: 90%;
		// min-height: 79%;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 15px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		max-height: 1920px;
		overflow-x: clip;
		overflow-y: auto;

		.dialog-header {
			width: 100%;

			.dialog-title {
				font-weight: 700;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				width: 100%;

				.title {
					position: relative;
					// color: #d7d7d7;
					font-size: 1.5em;
					text-align: center;
					border-bottom: 2px solid #fff;
					padding: 25px 80px;
				}
			}
		}

		.dialog-body {
			overflow-wrap: break-word;
			font-size: 24px;
			// color: #000;
			padding: 20px 190px 20px 110px; /*20px 50px;*/
			width: 100%;

			.solved {
				text-align: center;
			}

			.factor {
				font-size: 56px;
				padding: 5px 0;
			}

			.finish-ball-scores {
				padding: 10px 0;
				margin-bottom: 20px;
				font-size: 56px;
				// color: #d7d7d7;

				.table {
					margin-bottom: 0;

					tr {
						th {
							font-size: 32px;
						}
					}

					td, th {
						padding: 5px 0;
						text-align: center;
						position: relative;
					}

					.col-bg {
						/*background-color: rgb(255 255 255 / 0.03);*/
						/* background for score & total */
					}
				}
			}

			.result, .total {
				// color: #fff;
				/*background-color: #ffffff1a;*/
				/* background for round score */

				//background-color: #fff;
				//border-radius: 3.5em;
				padding: 10px 0 10px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				//font-weight: 700;
				font-size: 56px;
			}

			.total {
				margin-bottom: 20px;
			}
		}

		.dialog-footer {
			padding: 30px 40px;
			width: 100%;
		}

		.pre-timeout-ani01 {
			opacity: 0;
		}

		.timeout-ani01 {
			will-change: scale, opacity;
			animation: appear 1s ease-in-out;
		}

		@keyframes appear {
			from {
				scale: 1.6;
				opacity: 0;
			}
			to {
				scale: 1;
				opacity: 1;
			}
		}
	}
}