.content {
	height: 100%;
	padding-top: 17%;
}

.header {
	position: absolute;
	width: 100%;
	padding: 2% 2% 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		mask-image: none;
		// mask-image: url('image.png');
		mask-repeat: no-repeat;
		mask-size: 100px;
		mask-position: center;
		background-color: #fff;
	}
}

.question-counter {
	text-align: center;
	margin-bottom: 2rem;
}

.question {
	text-align: center;
	margin-bottom: 13%;
}

.answers {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	// justify-content: space-between;
	justify-content: space-between;
	align-items: stretch;

	width: 100%;
	height: 70%;

	.answer-row {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		.scratch-container {
			width: 360px;
			height: 360px;

			flex: 0 0 360px; /* nicht wachsen, nicht schrumpfen, Basis 360 */

			border: 3px #000 solid;
			overflow: hidden;

			border-radius: 50px;

			.scratch-bg {
				position: absolute;
				width: 360px;
				z-index: -1;

				img {
					width: 100%;
					height: auto;
				}
			}
		}

		.answer {
			width: 100%;
			padding: 1rem 2rem 1rem 4rem;

			app-base-button {
				// margin-bottom: 10%;
			}
		}
	}
}