<div class="header">
	<app-base-button
		[configBtn]="null"
		[btnContentWidth]="'120px'"
		[btnContentHeight]="'120px'"
		[btnContentPadding]="'0 0'"
		[btnRadius]="'50%'"
		[btnDisabled]="false"
		(clickButton)="onClickExit()"
	><span [style.mask-image]="signalBtnCloseImageUrl()"
		   class="btn-close-icon" aria-hidden="true" [title]="'close' | nativeTranslate"
	></span>
	</app-base-button>
</div>

<div class="content">
	<div class="question-counter">Frage {{ gameQuestionsService.questionIndex + 1 }}
		/ {{ gameQuestionsService.maxQuestionNr }}
	</div>
	<div class="question">{{ gameQuestionsService.currentQuestion.question }}</div>
	<div class="answers"
		 [class.scratch-finished]="signalScratchFinished()"
	>
		@for (value of gameQuestionsService.currentQuestion.answers; track value; let i = $index) {
			<div class="answer-row">
				<div class="scratch-container">
					<div class="scratch-border">
						<div class="scratch-bg"
							 [class.enabled]="gameQuestionsService.currentQuestion.answers[i].scratchFactor >= 1"
						>
							@if (gameQuestionsService.questionIndex === 0) {
								<img [src]="scratchMonster1.src" alt=""
									 [style.scale]="gameQuestionsService.currentQuestion.answers[i].scratchFactor">
							} @else if (gameQuestionsService.questionIndex === 1) {
								<img [src]="scratchMonster2.src" alt=""
									 [style.scale]="gameQuestionsService.currentQuestion.answers[i].scratchFactor">
							} @else if (gameQuestionsService.questionIndex === 2) {
								<img [src]="scratchMonster3.src" alt=""
									 [style.scale]="gameQuestionsService.currentQuestion.answers[i].scratchFactor">
							}
						</div>
						
						<app-scratch-free
							[enabled]="!signalScratchFinished()"
							[widthPx]="360"
							[heightPx]="360"
							[scratchRadius]="30"
							[scratchFreeBg]="scratchFreeBg"
							(scratch)="onScratch(i, $event)"
							(scratchFinished)="onScratchFinished(i)"
						></app-scratch-free>
					</div>
					@if (gameQuestionsService.currentQuestion.answers[i].scratchFactor >= 1) {
						<div class="scratch-result"
							 animate.enter="result-enter"
						> <!-- [class.enabled]="gameQuestionsService.currentQuestion.answers[i].scratchFactor >= 1" -->
							<div class="img-result"
								 [class.img-correct]="gameQuestionsService.currentQuestion.rightAnswerIndex === i"
								 [class.img-wrong]="gameQuestionsService.currentQuestion.rightAnswerIndex !== i"
								 [style.mask-image]="gameQuestionsService.currentQuestion.rightAnswerIndex === i  ? signalCorrectImageUrl() : signalWrongImageUrl()"
							></div>
							<!--	@if (gameQuestionsService.currentQuestion.rightAnswerIndex === i) {
									<img [src]="imgCorrect.src" alt="correct" class="img-correct">
								} @else {
									<img [src]="imgWrong.src" alt="wrong" class="img-wrong">
								}-->
						</div>
						
						<app-ani-explosion
							#aniExplosion
							[colorPalette]="gameQuestionsService.currentQuestion.rightAnswerIndex === i ? [
		'#132a12',
		'#244e26',
		'#6afc60',
		'#a5fd98'
	] : ['#24122AFF',
		'#4E242AFF',
		'#fc6060',
		'#f60000']"
						></app-ani-explosion>
					}
				</div>
				
				
				<!--<app-base-button
					[configBtn]="null"
					[btnWidth]="'100%'"
					[btnContentWidth]="'100%'"
					[btnContentHeight]="'100%'"
					[btnContentPadding]="'15px 10px'"
					[btnDisabled]="false"
					(clickButton)="onClickAnswer(i)"
				>-->
				<div class="answer">{{ value.answer }}</div>
				<!--</app-base-button>-->
			</div>
		}
	</div>
</div>

@if (isShowingConfirmCancelDialog()) {
	<div class="dialog-animation-container"
		 animate.enter="dialog-enter"
		 animate.leave="dialog-leave">
		<app-dialog-confirm
			[titleKey]="'end-game'"
			[content]="'Quizrunde abbrechen und zum Startbildschirm zurückkehren?'"
			[contentYes]="'Quiz abbrechen'"
			[contentNo]="'Weiterspielen'"
			[isJsonContent]="false"
			[hasSafetyCheck]="false"
			(cancelDialog)="onCancel($event)"
		></app-dialog-confirm>
	</div>
}