.content {
	height: 100%;
	padding-top: 17%;

	overflow: hidden;

//	position: relative;
//	z-index: -2;

	// background-image: url(../../../assets/images/Screens/2_Frage1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.question1 {
		background-image: url(../../../assets/images/Screens/2_Frage1.png);
	}

	&.question2 {
		background-image: url(../../../assets/images/Screens/4_Frage2.png);
	}

	&.question3 {
		background-image: url(../../../assets/images/Screens/6_Frage3.png);
	}
}

.header {
	position: absolute;
	width: 100%;
	padding: 2% 2% 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	pointer-events: none;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		mask-image: none;
		// mask-image: url('image.png');
		mask-repeat: no-repeat;
		mask-size: 100px;
		mask-position: center;
		background-color: #fff;

		pointer-events: none;
	}
}

.question-counter {
	text-align: center;
	margin-bottom: 2rem;
}

.question {
	text-align: center;
	margin-bottom: 13%;
}

.answers {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	// justify-content: space-between;
	justify-content: space-between;
	align-items: stretch;

	width: 100%;
	height: 70%;

	&.scratch-finished {
		pointer-events: none;
	}

	.answer-row {
		width: 100%;
		height: 40%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		.scratch-container {
			position: relative;
			width: 360px;
			height: 360px;
			z-index: 1;

			flex: 0 0 360px; /* nicht wachsen, nicht schrumpfen, Basis 360 */

			.scratch-border {
			//	position: relative;
				width: 100%;
				height: 100%;
			//	z-index: 1;

				.scratch-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
				//	pointer-events: none;

					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					&.enabled {
						overflow: visible;
					}

					img {
						height: 100%;
						width: auto;

						scale: 0;
					}
				}
			}

			.scratch-result {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				overflow: hidden;

			//	opacity: 0;
			//	scale: 2;

				pointer-events: none;

			//	transition: opacity 1300ms ease-in-out, scale 1300ms ease-in-out;

			/*&.enabled {
					opacity: 1;
					scale: 1;
				}*/

				.img-result {
					width: 65%;
					height: 65%;

					mask-image: none;
					mask-repeat: no-repeat;
					mask-size: contain;
					mask-position: center;
					background-color: #fff;

					&.img-correct {
						background-color: #0b8000;
					}

					&.img-wrong {
						background-color: #d50000;
					}
				}

				&.result-enter {
					animation: resultFadeIn 1500ms ease-out forwards;
				}

				@keyframes resultFadeIn {
					from {
						opacity: 0;
						scale: 2;
					}
					to {
						opacity: 1;
						scale: 1;
					}
				}
			}
		}

		.answer {
			width: 100%;
			padding: 1rem 2rem 1rem 4rem;

			app-base-button {
				// margin-bottom: 10%;
			}
		}
	}
}