@use "../../../assets/scss/variables" as variables;

.content {
	height: 100%;
	padding: 5% 11% 0 11%;

	overflow: hidden;

	color: variables.$app-main-blue-color;

	// background-image: url(../../../assets/images/Screens/2_Frage1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/*&.question1 {
		background-image: url('../../../assets/images/Screens/2_Frage1 Scratch Tutorial_I.png');
	}

	&.question2 {
		background-image: url(../../../assets/images/Screens/4_Frage2.png);
	}

	&.question3 {
		background-image: url(../../../assets/images/Screens/6_Frage3.png);
	}*/
}

.header {
	position: absolute;
	width: 100%;
	padding: 47px 62px 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	pointer-events: none;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		background-image: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		// background-color: #fff;
		pointer-events: none;
	}
}

.monster-container {
	position: absolute;
	overflow: hidden;

	//	pointer-events: none;
	touch-action: none;
	// background-color: #0d6efd;

	.monster {
		position: absolute;

		background-image: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

		will-change: transform;
	}

	&.monster-container1 {
		left: 0;
		top: 540px;
		width: 440px;
		height: 1350px;

		.lilly-pointing {
			top: -30px;
			left: -234px;
			width: 460px;
			height: 568px;

			animation: monster1 15000ms ease-in-out infinite normal;
		}

		.lilly-pointing-arm {
			top: 260px;
			left: -124px;
			width: 390px;
			height: 310px;

			transform-origin: left center 0;

			animation: monsterArm1 15000ms ease-in-out infinite normal;

			will-change: transform;
		}

		@keyframes monster1 {
			0% {
				transform: translate3d(-250px, 0, 0) rotate3d(0, 0, 1, -6deg);
			}

			12% {
				transform: translate3d(-250px, 0, 0) rotate3d(0, 0, 1, -6deg);
			}

			16% {
				transform: translate3d(-3px, 0, 0) rotate3d(0, 0, 1, 1deg);
			}

			28% {
				transform: translate3d(-3px, 0, 0) rotate3d(0, 0, 1, -3deg);
			}

			32% {
				transform: translate3d(-250px, 0, 0) rotate3d(0, 0, 1, -6deg);
			}

			40% {
				transform: translate3d(-250px, 800px, 0) rotate3d(0, 0, 1, -6deg);
			}

			48% {
				transform: translate3d(-3px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}

			56% {
				transform: translate3d(-3px, 800px, 0) rotate3d(0, 0, 1, 6deg);
			}

			64% {
				transform: translate3d(-250px, 800px, 0) rotate3d(0, 0, 1, 6deg);
			}

			72% {
				transform: translate3d(-250px, 440px, 0) rotate3d(0, 0, 1, 6deg);
			}

			80% {
				transform: translate3d(-10px, 440px, 0) rotate3d(0, 0, 1, -5deg);
			}

			88% {
				transform: translate3d(-10px, 440px, 0) rotate3d(0, 0, 1, -5deg);
			}

			96% {
				transform: translate3d(-250px, 440px, 0) rotate3d(0, 0, 1, -5deg);
			}

			100% {
				transform: translate3d(-250px, 0, 0) rotate3d(0, 0, 1, -5deg);
			}
		}

		@keyframes monsterArm1 {
			0% {
				transform: translate3d(-260px, 0, 0) rotate3d(0, 0, 1, -6deg);
			}
			13% {
				transform: translate3d(-260px, 0, 0) rotate3d(0, 0, 1, -6deg);
			}
			17% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, 2deg);
			}
			18% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, -6deg);
			}
			19% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, 2deg);
			}
			20% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, -6deg);
			}
			21% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, 2deg);
			}
			22% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, -6deg);
			}
			24% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, 2deg);
			}
			26% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, -6deg);
			}
			28% {
				transform: translate3d(-30px, -40px, 0) rotate3d(0, 0, 1, 1deg);
			}
			32% {
				transform: translate3d(-260px, 0, 0) rotate3d(0, 0, 1, -16deg);
			}


			40% {
				transform: translate3d(-260px, 800px, 0) rotate3d(0, 0, 1, -16deg);
			}

			48% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}
			49% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, -6deg);
			}
			50% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}
			51% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, -6deg);
			}
			52% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}
			53% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, -6deg);
			}
			54% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}
			55% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, -6deg);
			}
			56% {
				transform: translate3d(-30px, 800px, 0) rotate3d(0, 0, 1, 2deg);
			}
			64% {
				transform: translate3d(-260px, 800px, 0) rotate3d(0, 0, 1, -16deg);
			}


			72% {
				transform: translate3d(-260px, 440px, 0) rotate3d(0, 0, 1, -16deg);
			}
			80% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, -6deg);
			}
			81% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, 2deg);
			}
			82% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, -6deg);
			}
			83% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, 2deg);
			}
			84% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, -6deg);
			}
			85% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, 2deg);
			}
			86% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, -6deg);
			}
			87% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, 2deg);
			}
			88% {
				transform: translate3d(-30px, 440px, 0) rotate3d(0, 0, 1, -6deg);
			}
			96% {
				transform: translate3d(-260px, 440px, 0) rotate3d(0, 0, 1, -16deg);
			}
			100% {
				transform: translate3d(-260px, 0, 0) rotate3d(0, 0, 1, -16deg);
			}
		}
	}

	&.monster-container2 {
		right: 2px;
		bottom: 90px;

		width: 440px;
		height: 430px;

		.monster {
			right: -51px;
			bottom: -172px;
			width: 520px;
			height: 470px;

			animation: monster2 2600ms ease-in-out infinite alternate-reverse;
		}

		@keyframes monster2 {
			0% {
				transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 1deg);
			}

			30% {
				transform: translate3d(-3px, -20px, 0) rotate3d(0, 0, 1, 0deg);
			}

			100% {
				transform: translate3d(10px, 0, 0) rotate3d(0, 0, 1, -1deg);
			}
		}
	}

	&.monster-container3 {
		right: 2px;
		bottom: 170px;
		width: 440px;
		height: 760px;

		.monster {
			right: -51px;
			bottom: -172px;
			width: 470px;
			height: 770px;
			background-size: contain;

			animation: monster3 2600ms ease-in-out infinite alternate-reverse;
		}

		@keyframes monster3 {
			0% {
				transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 1deg);
			}

			30% {
				transform: translate3d(-3px, -20px, 0) rotate3d(0, 0, 1, 0deg);
			}

			100% {
				transform: translate3d(10px, 0, 0) rotate3d(0, 0, 1, -1deg);
			}
		}
	}
}

.question-counter {
	text-align: center;
	margin-bottom: 4rem;
}

.question {
	text-align: center;
	font-weight: 700;
	font-size: 60px;

	padding: 0 8%;
	margin-bottom: 4%;
	line-height: 1.25;

	height: 160px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	&.question3 {
		padding: 0 4%;
	}
}

.tutorial {
	text-align: center;
	font-weight: 500;
	font-size: 52px;
	margin-bottom: 127px;
}

.answers {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	// justify-content: space-between;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 10px 0 100px;

	width: 100%;
	height: 1180px;

	&.scratch-finished {
		pointer-events: none;
	}

	.answer-row {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		.scratch-container {
			position: relative;
			width: 390px;
			height: 332px;
			z-index: 1;

			flex: 0 0 390px; /* nicht wachsen, nicht schrumpfen, Basis 445 */

			.scratch-border {
				//	position: relative;
				width: 100%;
				height: 100%;
				//	z-index: 1;

				.scratch-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: -1;
					//	pointer-events: none;

					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					overflow: hidden;

					&.enabled {
						overflow: visible;
					}

					img {
						height: 100%;
						width: auto;

						scale: 0;
					}

					.img-question {
						position: relative;
						width: 100%;
						height: 100%;
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
					}
				}
			}

			.scratch-result {
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;

				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				overflow: hidden;

				//	opacity: 0;
				//	scale: 2;

				pointer-events: none;

				//	transition: opacity 1300ms ease-in-out, scale 1300ms ease-in-out;

				/*&.enabled {
						opacity: 1;
						scale: 1;
					}*/

				.img-result {
					width: 65%;
					height: 65%;

					background-image: none;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
					/*background-color: #fff;

					&.img-correct {
						background-color: #0b8000;
					}

					&.img-wrong {
						background-color: #d50000;
					}*/
				}

				&.result-enter {
					animation: resultFadeIn 1500ms ease-out forwards;
				}

				@keyframes resultFadeIn {
					from {
						opacity: 0;
						scale: 2;
					}
					to {
						opacity: 1;
						scale: 1;
					}
				}
			}
		}

		.answer {
			width: 100%;
			padding: 0 0 0 100px;
			font-size: 60px;
			font-weight: 700;

			app-base-button {
				// margin-bottom: 10%;
			}
		}
	}
}