@keyframes rotate {
	0% {
		transform: rotate(0)
	}

	20% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-maintain {
	0% {
		transform: rotate(0);
	}

	20% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(-360deg);
	}
}

.rotate {
	animation: rotate 2s infinite linear;
	animation-timing-function: ease-in-out;
}

.rotate-maintain {
	animation: rotate-maintain 2s infinite linear;
	animation-timing-function: ease-in-out;
}

@keyframes fadeIn800ms {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut800ms {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fade-in-800ms {
	animation: fadeIn800ms 800ms ease-out forwards;
}

.fade-out-800ms {
	animation: fadeOut800ms 800ms ease-out forwards;
}

@keyframes dialogContainerFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes dialogContainerFadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes dialogPopIn {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes dialogPopOut {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}

.dialog-animation-container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	&.dialog-enter {
		animation: dialogContainerFadeIn 200ms ease-out forwards;

		.dialog {
			animation: dialogPopIn 300ms ease-out forwards;
		}
	}

	&.dialog-leave {
		animation: dialogContainerFadeOut 200ms ease-out forwards;

		.dialog {
			animation: dialogPopOut 300ms ease-out forwards;
		}
	}
}