.cdk-overlay-container {
	z-index: 3000 !important;
}

.mat-header-cell {
	user-select: none;
}

.mat-sort-header-content {
	user-select: none;
}

.mat-button-wrapper {
	&:focus {
		outline-width: 0;
	}
}

.mat-paginator {
	user-select: none;
}

.mat-header-row {
	.mat-header-cell {
		&:first-child {
			padding-left: 10px;
		}

		&:last-child {
			padding-right: 10px;
		}
	}
}

.mat-row {
	&.clickable {
		cursor: pointer;

		&:hover {
			background-color: #fbf1f9;
		}
	}

	.mat-cell {
		padding: 0 2px;

		&:first-child {
			padding-left: 10px;
		}

		&:last-child {
			padding-right: 10px;
		}
	}

	&.selected-row {
		background-color: #004875;

		td {
			color: #fff !important;
		}
	}
}

/* autocomplete together with bootstrap form control */
.mat-option {
	height: 40px !important;
	padding: 0 12px !important;
}

.mat-form-field-label {
	color: rgba(255, 255, 255, .6);
}

.mat-form-field-appearance-fill.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-fill.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
	color: #fff;
	transform: translate(-0.4em, -1.6375em) scale(0.75);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
	padding: 0 !important;
	background-color: transparent;
}

.mat-form-field-appearance-fill .mat-form-field-label {
	top: 1.7rem;
	left: 0.75rem;
	margin: 0;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
	// padding-bottom: 0;
	padding: 0.5em 0;
}

.mat-form-field-underline {
	display: none;
}

input.mat-input-element {
	padding: 0.375rem 0.75rem;
	box-sizing: border-box;
}