<div class="content"
	[style.background-image]="signalProductBgImageUrl()"
>
	<div class="content-container">
		@if (AppModule.initError) {
			<div class="error-container">
				<img ngSrc="assets/images/icons/error01.png" alt="" height="573" width="573">
				{{ AppModule.initError }}
			</div>
		}
		
		<div class="game-logo">
			<div class="monster">
				<div class="monster-tile monster-head" [style.background-image]="signalBillyHeadImageUrl()"></div>
				<div class="monster-tile monster-left" [style.background-image]="signalBillyLeftImageUrl()"></div>
				<div class="monster-tile monster-right" [style.background-image]="signalBillyRightImageUrl()"></div>
			</div>
			<div class="label"
				 [style.background-image]="signalGameLogoImageUrl()"
			></div>
		</div>
		
		<div class="button-container">
			@if (fileLoadService.signalIsLoading()) {
				{{ 'loading' | nativeTranslate }}
				<div class="progress-bar">
					<div class="progress" [style.width.%]="initService.signalLoadPercentage()"></div>
				</div>
			} @else {
				<div class="button-start-container"
					 [style.animation-duration.s]="gameService.signalGameConfig()?.startBtn?.pulseDuration"
				>
					<app-base-button
						[configBtn]="null"
						[btnContentWidth]="'1100px'"
						[btnContentHeight]="'301px'"
						[btnRadius]="'80px'"
						[btnDisabled]="(appBackendConfigService.isLoading$ | async) || false"
						(clickButton)="onClickStart()"
					><span class="start" style="border-radius: 80px;"
						   [style.background-image]="signalBtnPlayImageUrl()"
					>
				</span>
					</app-base-button>
				</div>
			}
		</div>
		
		
		<div class="product-container">
			<div class="image-container">
				<div class="image" [style.background-image]="signalProduct2ImageUrl()"></div>
			</div>
			<div class="text-container">
				Mach mit beim Quiz rund um <strong>Mucosilent®</strong> und entdecke den innovativen Hustenstiller
				mit dem Wirkstoff Levodropropizin.<br><br> Teste dein Wissen und erfahre, was für ruhige Tage
				und erholsame Nächte sorgen kann.
			</div>
		</div>
		
	</div>
	
	
	<div class="legal-links">
		
		<button type="button" class="btn btn-link btn-legal"
				[style.color]="gameService.signalGameConfig()?.fontColorLink"
				(click)="onClickLegalText('imprint')"
		>Impressum<!--{{ 'imprint' | nativeTranslate }}-->
		</button>
		
		<!--<button type="button" class="btn btn-link btn-legal"
				[style.color]="gameService.signalGameConfig()?.fontColorLink"
				(click)="onClickLegalText('privacy-policy')"
		>{{ 'privacy-policy' | nativeTranslate }}
		</button>-->
	
	</div>
	
	<app-button-fullscreen
		#buttonFullscreenComponent
		[color]="'transparent'"
		[backgroundColor]="'transparent'"
		[borderRadiusPx]="50"
		[borderWidthPx]="0"
		[borderColor]="'transparent'"
		[disabled]="false"
		[left]="document.fullscreenEnabled ? '71px' : '71px'"
		[right]="'auto'"
		[bottom]="'50px'"
		(click)="soundService.playSound(SoundNameEnum.click, true);"
	></app-button-fullscreen>
	
	<app-button-sound-on-off
		#buttonSoundOnOffComponent
		[color]="'transparent'"
		[backgroundColor]="'transparent'"
		[borderRadiusPx]="50"
		[borderWidthPx]="0"
		[borderColor]="'transparent'"
		[disabled]="false"
		[left]="document.fullscreenEnabled ? '231px' : '231px'"
		[right]="'auto'"
		[bottom]="'50px'"
		(click)="soundService.playSound(SoundNameEnum.click, true);"
	></app-button-sound-on-off>
	
</div>
<!--
@if (legalTextDialogType()) {
	<div class="dialog-animation-container"
		 animate.enter="dialog-enter"
		 animate.leave="dialog-leave"
	>
		<app-dialog-legal
			[type]="legalTextDialogType()!"
			(cancelDialog)="onClickCloseLegal($event)"
		></app-dialog-legal>
	</div>
}-->