<app-modal-background></app-modal-background>

<div class="modal-header">
  <span class="modal-title">
    <div class="title">
      {{ 'quiz' | nativeTranslate }} {{ quizNumber }}
    </div>
  </span>
	<!--<button type="button" class="btn" aria-label="Close"
	(click)="onClickClose(false)"
	>
	<fa-icon [icon]="['fas', 'times']"></fa-icon>
  </button>-->
</div>
<div class="modal-body font-secondary">
	<!--<div class="solved">
	<div></div>
  </div>-->
	<div class="finish-ball-scores">
		<!--<div *ngFor="let score of finishBallScores" class="factor">
		{{ 'factor' | nativeTranslate }} {{ score.factor }} x
		{{ score.scoreBefore }}
		=
		{{ score.scoreAfter }} {{ score.scoreAfter | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}
	  </div>-->
		
		<table class="table">
			<tr>
				<th class="text-center">Ball</th>
				<th class="text-start col-bg">Punkte</th>
				<th class="text-center" style="padding-left: 20px;">{{ 'factor' | nativeTranslate }}</th>
				
				<th class="text-end col-bg">Gesamt</th>
				<!--<th>Combo</th>
				<th class="col-bg">Zeit</th>-->
				<!--<th class="text-end">Gesamt</th>-->
			</tr>
			@for (score of finishBallScores; track score; let i = $index) {
				<tr>
					<td class="text-center"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800 - 800"
					>{{ (i + 1).toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</td>
					<td class="text-start col-bg"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800 - 500"
					>
						{{ score.scoreBefore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</td>
					<td class="text-center" style="padding-left: 20px;"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800 - 300"
					>
						{{ score.factor.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</td>
					<!--<td>
					<ng-container *ngIf="value.comboScore > 0">
					  +{{ score.comboScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</ng-container>
				  </td>
				  <td class="col-bg">
					<ng-container *ngIf="value.remainingTimeScore > 0">
					  +{{ score.remainingTimeScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
					</ng-container>
				  </td>-->
					<td class="text-end col-bg"
						[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'" [timeout]="i * 800"
					>{{ score.scoreAfter.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
						<!--{{ value.totalScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}-->
					</td>
				</tr>
				<!--<tr>
				<td>Time-Bonus:</td>
				<td class="text-end">+ {{ score.comboScore.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }} {{ value.comboScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}</td>
			  </tr>-->
			}
		
		</table>
	</div>
	<!--<div class="result">
	<div>{{ 'result' | nativeTranslate }} {{ score.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }} {{ score | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}</div>
	</div>-->
	<div class="total">
		<div>{{ 'total' | nativeTranslate }}:</div>
		@if (finishBallScores.length > 0) {
			<div
				[appTimeoutClass]="'timeout-ani01'" [fromClass]="'pre-timeout-ani01'"
				[timeout]="finishBallScores.length * 800"
			>{{ score.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }}
				<!--{{ totalScore | textPlural : ('coin' | nativeTranslate): ('coins' | nativeTranslate) }}-->
			</div>
		}
	</div>
	<!--<div class="bonus">
	<h3 class="text-center">BONUS</h3>
	<table class="table">
	  <tr>
		<td>Time:</td>
		<td class="text-end">{{runtime * 1000 | date:'mm:ss'}}</td>
	  </tr>
	  <tr>
		<td>Time-Bonus:</td>
		<td class="text-end">+ {{timeBonusTokens.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }} {{timeBonusTokens | textPlural : 'Token': 'Tokens'}}</td>
	  </tr>
	</table>
	</div>
	<div class="result">
	  <div>Result:</div>
	  <div>{{totalPoints.toLocaleString(nativeTranslateService.currentLocale ?? 'en-US') }} {{totalPoints | textPlural : 'Token': 'Tokens'}}</div>
	</div>-->
</div>
<div class="modal-footer justify-content-center">
	<button type="button" class="btn btn-primary" (click)="onClickClose(true)">
		{{ (wasLastGame ? 'end-game' : 'continue-to-next-quiz') | nativeTranslate }}
	</button>
</div>
