<!--<app-on-screen-keyboard
[inputElement]="focusElement"
[inputElementInputMode]="focusInputMode"
[inputElementMaxLength]="focusElementMaxLength"
(blurElement)="onBlurElement()"
(submitForm)="onSubmitForm()"
></app-on-screen-keyboard>-->
<div class="nickname-form">
	@if (formGroup) {
		<form enctype="multipart/form-data"
			  [formGroup]="formGroup"
			  (ngSubmit)="onSubmitForm()"
		>
			<div class="">
				<div class="form-content mx-auto">
					@if (userLogonService.error && isFormSubmitted) {
						<div
							class="alert alert-danger" [innerHTML]="userLogonService.error">
						</div>
					}
					<div class="form-group"
						 [class.submitted]="currentNickname.length > 0 || hasEnteredNickname"
					>
						@if (currentNickname.length > 0) {
							{{ currentNickname }}
						} @else {
							<label for="nickname"
								   [for]="'nickname' + uid">{{ 'enter-your-nickname' | nativeTranslate }}</label>
							<div class="input-wrapper">
								<input #inputNickname id="nickname" [id]="'nickname' + uid"
									   type="text"
									   inputmode="none"
									   formControlName="nickname"
									   placeholder="" class="form-control"
									   minlength="2"
									   maxlength="17"
									   autocomplete="off"
									   [ngClass]="{ 'is-invalid': isFormSubmitted && f.nickname.errors }"
									   (input)="onChangeFormInput()"
									   (focusin)="onFocusIn($event, 'text', 17)"
									   appAutofocus/>
								<div class="btn-ok">
									<app-base-button
										[configBtn]="gameService.signalGameConfig()?.defaultBtn ?? null"
										[btnType]="'submit'"
										[backgroundImageUrl]="initService.signalBtnBackgroundImageUrl()"
										[btnWidth]="'100%'"
										[btnContentWidth]="'100%'"
										[btnContentPadding]="'15px 20px'"
										[btnDisabled]="(userLogonService.isLoading$ | async) || false"
									>@if (userLogonService.isLoading$ | async) {
										<span class="spinner-border spinner-border-sm me-1"></span>
									}
										{{ 'ok' | nativeTranslate }}
									</app-base-button>
								</div>
							</div>
							<!--{{f.nickname.errors | json}}-->
							@if (isFormSubmitted && f.nickname.errors) {
								<div class="invalid-feedback" style="display: block;">
									@if (f.nickname.errors.required || f.nickname.errors.minlength) {
										<div>{{ 'enter-your-nickname' | nativeTranslate }}</div>
									}
									<!--<div *ngIf="f.nickname.errors.validExists">This nickname has already been taken by another
									player, please enter a different one.
								  </div>-->
								</div>
							}
						}
					</div>
				</div>
			</div>
			<!--<div class="empty-line"></div>
			<div class="button-container">
				
				<app-base-button
					[configBtn]="gameService.signalGameConfig()?.defaultBtn ?? null"
					[backgroundImageUrl]="initService.signalBtnBackgroundImageUrl()"
					[btnWidth]="'100%'"
					[btnContentWidth]="'100%'"
					[btnContentPadding]="'15px 10px'"
					[btnDisabled]="(userLogonService.isLoading$ | async) || false"
					(clickButton)="onClickCancel()"
				>@if (userLogonService.isLoading$ | async) {
					<span class="spinner-border spinner-border-sm me-1"></span>
				}
					{{ 'cancel' | nativeTranslate }}
				</app-base-button>
				
				<div class="empty-line"></div>
				
				<app-base-button
					[configBtn]="gameService.signalGameConfig()?.defaultBtn ?? null"
					[btnType]="'submit'"
					[backgroundImageUrl]="initService.signalBtnBackgroundImageUrl()"
					[btnWidth]="'100%'"
					[btnContentWidth]="'100%'"
					[btnContentPadding]="'15px 10px'"
					[btnDisabled]="(userLogonService.isLoading$ | async) || false"
				>@if (userLogonService.isLoading$ | async) {
					<span class="spinner-border spinner-border-sm me-1"></span>
				}
					{{ 'continue' | nativeTranslate }}
				</app-base-button>
			</div>-->
		</form>
	}
</div>
