@use "../../../assets/scss/variables" as variables;

.game-topic-page {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	// prevent zooming page
	touch-action: none;

	.round, .title {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.round {
		top: 360px;
		font-size: 52px;
	}

	.title {
		top: 450px;
		font-size: 68px;
	}

	.scroll-page {
		position: absolute;
		top: 0;
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;

		.topics {
			position: absolute;
			top: 655px;

			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center; // flex-start;
			flex-wrap: nowrap;

			width: 100%;
			padding: 0 30px;

			&.selected {
			}
		}

		.start-point {
			position: absolute;
			top: 1480px;
			left: 500px;

			width: 80px;
			height: 80px;
			background-color: #6c6cff;
			border-radius: 50%;

			scale: 1.9;
			opacity: 0;
			transition: opacity 800ms, scale 800ms ease-out, top 800ms ease-out;

			&.visible {
				opacity: 1;
				scale: 1;
			}
		}

		.left-way, .right-way {
			position: absolute;
			opacity: 0;
			transition: opacity 100ms;

			&.visible {
				opacity: 1;
			}
		}

		.left-way {
			top: 1070px;
			left: 280px;
		}

		.right-way {
			top: 1070px;
			left: 800px;
			transform: scaleX(-1);
		}


		.y-shape {
			position: absolute;
			top: 1100px;
		}

		.score-gift {
			position: absolute;
			top: 290px;
			left: 50px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			&.pre-timeout-ani01 {
				opacity: 0;
			}

			&.timeout-ani01 {
				will-change: scale, opacity;
				animation: appear 1s ease-in-out;
			}

			.btn-gift {
				width: 128px;
				height: 128px;

				background-color: #fff;

				mask-image: none;
				// mask-image: url('image.png');
				mask-repeat: no-repeat;
				mask-size: contain;

				//background-size: contain;
				//background-position: center center;

				&:not(.closed) {
					pointer-events: none;
				}

				&.closed {
					animation-name: pulse;
					animation-duration: 0.5s;
					animation-timing-function: ease-in-out;
					animation-iteration-count: infinite;

					animation-direction: alternate;

					&:hover {
						//opacity: 0.7;

						animation: hover-anim-button-right-rotated .2s forwards;
					}

					&:before {
						content: "";
						position: absolute;
						z-index: -1;
						background: inherit;
						opacity: .4;
						border-radius: 50px;
						inset: 0;
					}

					@keyframes pulse {
						0% {
							scale: 1;
						}

						100% {
							scale: 0.95;
						}
					}

					@keyframes hover-anim-button-right-rotated {
						40% {
							transform: scale(.8) rotate(10deg);
						}
						85% {
							transform: scale(1.1) rotate(10deg);
						}
						100% {
							transform: scale(1) rotate(10deg);
						}
					}
				}
			}

			.score {
				&.pre-timeout-ani01 {
					opacity: 0;
				}

				&.timeout-ani01 {
					will-change: scale, opacity;
					animation: appear 1s ease-in-out;
				}
			}

			@keyframes appear {
				from {
					scale: 1.6;
					opacity: 0;
				}
				to {
					scale: 1;
					opacity: 1;
				}
			}
		}

		.line {
			position: absolute;
			width: 20px;
			height: 250px;
			background-color: black;
			top: 0;

			opacity: 0;
			transition: opacity 100ms;

			&.visible {
				opacity: 1;
			}

			&.line-left {
				transform: rotate(-45deg);
				transform-origin: bottom center;
				top: -20px;
				left: -10px;
				height: 270px;

				&.centered {
					transform: rotate(0deg);
					height: 200px;
					top: 40px;
				}
			}

			&.line-right {
				transform: rotate(45deg);
				transform-origin: bottom center;
				top: -20px;
				left: -10px;
				height: 270px;
			}

			&.line-bottom {
				top: 240px;
				left: -10px;
				height: 170px;

				&.line-bottom-for-start-point {
					height: 140px;
				}
			}

			&.line-before {
				transform: rotate(45deg);
				transform-origin: top center;
				top: 405px;
				left: -7px;
				height: 500px;

				&.line-before-right {
					transform: rotate(-45deg);
					left: -14px;
				}

				&.line-before-centered {
					top: 410px;
					left: -10px;
					transform: rotate(0deg);
					height: 350px;
				}
			}
		}
	}
}

.test-buttons {
	position: absolute;
	bottom: 0;
	left: 0;

	.btn-test {
		font-size: 36px;
		width: auto;
		min-width: auto;
		padding: 0 5px;
		margin-right: 5px;
	}
}