.header {
	position: absolute;
	width: 100%;
	padding: 47px 62px 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	pointer-events: none;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		background-image: none;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		// background-color: #fff;
		pointer-events: none;
	}
}

.content {
	height: 100%;
	padding: 330px 6% 4% 6%;

	// background-image: url(../../../assets/images/Screens/8_Abschluss.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.text-container {
		padding: 0 50px 0 100px;
		font-size: 53px;
		margin-top: 15px;
		line-height: 1.45;
	}

	.product-container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin-top: 45px;

		.image {
			width: 100%;
			height: 690px;

			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}

	.button-container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;

		.btn-bg {
			width: 630px;
			height: 220px;

			position: relative;
			//		border-radius: 50%;
			//border-style: solid;

			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-color: transparent;

			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 80px;
			font-size: 72px;

			animation: pulse 2500ms ease-in-out infinite alternate;

			@keyframes pulse {
				0% {
					transform: scale(1);
				}

				100% {
					transform: scale(var(--button-start-scale-to, 0.95));
				}
			}
		}
	}
}

.game-logo {
	// position: absolute;
	//top: 79px;
	//left: 54px;
	line-height: 1;
	margin-top: 0;

	.monster {
		position: relative;
		top: -176px;
		left: 500px;

		.monster-tile {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			background-color: transparent;
		}

		.monster-head {
			position: absolute;
			left: 130px;
			width: 289px;
			height: 222px;
			animation: moveY 4600ms ease-in-out infinite alternate;
		}

		.monster-left {
			position: absolute;
			left: 14px;
			top: 165px;
			width: 115px;
			height: 98px;
			z-index: 1;
			animation: moveX 2500ms ease-in-out infinite alternate;
		}

		.monster-right {
			position: absolute;
			left: 450px;
			top: 160px;
			width: 116px;
			height: 105px;
			z-index: 1;
			animation: moveX 1600ms ease-in-out infinite alternate-reverse;
		}

		@keyframes moveX {
			0% {
				transform: translate3d(0, 0, 0);
			}

			30% {
				transform: translate3d(-3px, 0, 0) rotate3d(0, 0, 1, -1.5deg);
			}

			100% {
				transform: translate3d(-15px, 0, 0) rotate3d(0, 0, 1, -3deg);
			}
		}

		@keyframes moveY {
			0% {
				transform: translate3d(0, 200px, 0);
			}

			15% {
				transform: translate3d(-3px, 100px, 0) rotate3d(0, 0, 1, -1.5deg);
			}

			50% {
				transform: translate3d(0, 4px, 0) rotate3d(0, 0, 1, 1deg);
			}

			65% {
				transform: translate3d(0, 0, 0);
			}

			75% {
				transform: translate3d(-3px, 0, 0) rotate3d(0, 0, 1, -1.5deg);
			}

			100% {
				transform: translate3d(-10px, 200px, 0) rotate3d(0, 0, 1, -3deg);
			}
		}
	}

	.label {
		position: relative;
		left: 20px;
		width: 100%;
		height: 330px;

		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		background-color: transparent;

		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		font-size: 62px;
		font-weight: 500;
	}

	.game-logo-image-container {
		width: 100%;

		.game-logo-image {
			display: inline-block;
			// max-height: 500px;
			//height: auto;
			/*width: 85%;*/
			height: 100%;
			max-height: 585px;

			transform-origin: center center;
		}

		&.animation1 {
			animation: sway 5s ease-in-out infinite alternate;
		}

		@keyframes sway {
			0% {
				transform: translateX(0) rotate3d(0, 0, 1, 2deg) scale3d(1.02, 1.02, 1.02);
			}
			100% {
				transform: translateX(0) rotate3d(0, 0, 1, -2deg);
			}
		}
		/*0% {
				transform: translateX(0) rotate3d(1, 1, 0, 10deg);
			}
			25% {
				transform: translateX(-10px) rotate3d(0, 1, 0, 10deg);
			}
			50% {
				transform: translateX(0) rotate3d(0, 1, 0, 0deg);
			}
			75% {
				transform: translateX(10px) rotate3d(0, 1, 1, -5deg);
			}
			100% {
				transform: translateX(0)rotate3d(0, 1, 0, 0deg);
			}*/
	}
}