<app-confetti #confetti
			  [left]="'500px'" [top]="'200px'"
			  [width]="'180px'" [height]="'460px'" [scale]="1"
			  [color1]="'#1786a8'"
			  [color2]="'#a6254c'"
			  [color3]="'#a710f2'"
></app-confetti>

<div class="header">
	<app-base-button
		[configBtn]="null"
		[btnContentWidth]="'120px'"
		[btnContentHeight]="'120px'"
		[btnContentPadding]="'0 0'"
		[btnRadius]="'50%'"
		[btnDisabled]="false"
		(clickButton)="onClickExit()"
	><span [style.background-image]="signalBtnCloseImageUrl()"
		   class="btn-close-icon" aria-hidden="true" [title]="'close' | nativeTranslate"
	></span>
	</app-base-button>
</div>

<div class="content"
	 [style.background-image]="signalProductBgImageUrl()"
>
	<div class="content-container">
		
		<div class="game-logo">
			<div class="monster">
				<div class="monster-tile monster-head" [style.background-image]="signalBillyHeadImageUrl()"></div>
				<div class="monster-tile monster-left" [style.background-image]="signalBillyLeftImageUrl()"></div>
				<div class="monster-tile monster-right" [style.background-image]="signalBillyRightImageUrl()"></div>
			</div>
			<div class="label"
				 [style.background-image]="signalGameLogoImageUrl()"
			>Vielen Dank für´s Mitmachen!</div>
		</div>
		
		<div class="text-container">Schön, dass du dabei warst - komm gut durch die Hustenzeit!</div>
		
		<div class="product-container">
			
				<div class="image" [style.background-image]="signalProductImageUrl()"></div>
			
		</div>
		<!--<div>{{ gameQuestionsService.validAnswerCount }} von {{ gameQuestionsService.maxQuestionNr }} Antworten richtig
		</div>
		
		
		<div>
			<br>
			Du hast gesehen, wie wichtig moderne und gut verträgliche Optionen in der
			Hustenberatung sind. Mit Mucosilent<sup>&reg;</sup> hast du eine wirksame Lösung gegen trockenen
			Reizhusten an der Hand, geeignet für Kinder ab 2 Jahren, Erwachsene und Senioren.
			<br><br>
			Schön, dass du dabei warst - komm gut durch die Hustenzeit!
		</div>
		<br><br>-->
		
		<div class="button-container">
			<app-base-button
				[configBtn]="null"
				[btnWidth]="'100%'"
				[btnContentWidth]="'100%'"
				[btnContentHeight]="'220px'"
				[btnRadius]="'80px'"
				[btnDisabled]="false"
				(clickButton)="onClickExit()"
			>
		<span class="btn-bg"
			  [style.background-image]="signalBtnBgImageUrl()">
			  Schließen</span>
			</app-base-button>
		</div>
	</div>
</div>

<app-game-footer></app-game-footer>