.header {
	position: absolute;
	width: 100%;
	padding: 2% 2% 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;

	pointer-events: none;

	.btn-close-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		mask-image: none;
		// mask-image: url('image.png');
		mask-repeat: no-repeat;
		mask-size: 100px;
		mask-position: center;
		background-color: #fff;

		pointer-events: none;
	}
}

.content {
	height: 100%;
	padding: 4% 6%;

	background-image: url(../../../assets/images/Screens/8_Abschluss.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	.content-container {
		height: 100%;

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: stretch;
	}
}