<app-confetti #confetti
			  [left]="'300px'" [top]="'0'"
			  [width]="'180px'" [height]="'460px'" [scale]="1"
			  [color1]="'#1786a8'"
			  [color2]="'#a6254c'"
			  [color3]="'#a710f2'"
></app-confetti>

<div class="header">
	<app-base-button
		[configBtn]="null"
		[btnContentWidth]="'120px'"
		[btnContentHeight]="'120px'"
		[btnContentPadding]="'0 0'"
		[btnRadius]="'50%'"
		[btnDisabled]="false"
		(clickButton)="onClickExit()"
	><span [style.mask-image]="signalBtnCloseImageUrl()"
		   class="btn-close-icon" aria-hidden="true" [title]="'close' | nativeTranslate"
	></span>
	</app-base-button>
</div>

<div class="content">
	
	<div class="content-container">
		
		<h4>Vielen Dank fürs Mitmachen!</h4>
		
		<div>{{ gameQuestionsService.validAnswerCount }} von {{ gameQuestionsService.maxQuestionNr }} Antworten richtig
		</div>
		
		
		<div>
			<br>
			Du hast gesehen, wie wichtig moderne und gut verträgliche Optionen in der
			Hustenberatung sind. Mit Mucosilent® hast du eine wirksame Lösung gegen trockenen
			Reizhusten an der Hand, geeignet für Kinder ab 2 Jahren, Erwachsene und Senioren.
			<br><br>
			Schön, dass du dabei warst - komm gut durch die Hustenzeit!
		</div>
		<br><br>
		
		<app-base-button
			[configBtn]="null"
			[btnWidth]="'100%'"
			[btnContentWidth]="'100%'"
			[btnContentPadding]="'15px 10px'"
			[btnDisabled]="false"
			(clickButton)="onClickExit()"
		>
			<span>Beenden</span>
		</app-base-button>
	</div>
</div>