.spline {
	position: absolute;
	top: 0;
	left: 0;

	.spline-path {
		fill: none;
		stroke: #ff6600;
		stroke-width: 10px;
		stroke-linecap: round;
	}
}

.controls {
	position: absolute;
	top: 0;
	left: 0;

	margin-top: 1rem;
	label {
		display: block;
		margin-bottom: 0.5rem;
	}
}
