@if (type === 'quadratic') {
	<svg [style.width]="width" [style.height]="height" [attr.viewBox]="viewBox" xmlns="http://www.w3.org/2000/svg"
		 class="spline">
		<path [attr.d]="quadraticPathData" class="spline-path" [style.stroke]="color"
			  [style.stroke-width]="strokeWidth"/>
	</svg>
}

@if (type === 'cubic') {
	<svg [style.width.px]="width" [style.height.px]="height" [attr.viewBox]="viewBox"
		 xmlns="http://www.w3.org/2000/svg" class="spline">
		<path [attr.d]="cubicPathData" class="spline-path" [style.stroke]="color" [style.stroke-width]="strokeWidth"/>
	</svg>
}


@if (hasControls) {
	<div class="controls">
		<label>Width: <input type="range" min="0" max="1000" [(ngModel)]="width">{{ width }}</label>
		<label>Height: <input type="range" min="0" max="1000" [(ngModel)]="height">{{ height }}</label>
		
		<label>Control Point 1 X: <input type="range" min="0" max="100"
										 [(ngModel)]="control1X">{{ control1X }} {{ control1X * width / 100 }}</label>
		<label>Control Point 1 Y: <input type="range" min="0" max="100"
										 [(ngModel)]="control1Y">{{ control1Y }} {{ this.control1Y * this.height / 100 }}</label>
		@if (type === 'cubic') {
			<label>Control Point 2 X: <input type="range" min="0" max="100"
											 [(ngModel)]="control2X">{{ control2X }} {{ control2X * width / 100 }}</label>
			<label>Control Point 2 Y: <input type="range" min="0" max="100"
											 [(ngModel)]="control2Y">{{ control2Y }} {{ this.control2Y * this.height / 100 }}</label>
		}
		<label>Start X: <input type="range" min="0" max="100"
							   [(ngModel)]="startX">{{ startX }} {{ startX * this.width / 100 }}</label>
		<label>Start Y: <input type="range" min="0" max="100"
							   [(ngModel)]="startY">{{ startY }} {{ startY * this.height / 100 }}</label>
		<label>StrokeWidth: <input type="range" min="0" max="100" [(ngModel)]="strokeWidth">{{ strokeWidth }}</label>
		<label>End X: <input type="range" min="0" max="100" [(ngModel)]="endX">{{ endX }} {{ endX * this.width / 100 }}</label>
		<label>End Y: <input type="range" min="0" max="100" [(ngModel)]="endY">{{ endY }} {{ endY * this.height / 100 }}</label>
	</div>
}