<button type="button"
		[style.top]="top"
		[style.bottom]="bottom"
		[style.left]="left"
		[style.right]="right"
		[disabled]="disabled"
		class="btn btn-sound-on-off"
		[class.ready]="signalButtonSoundUrl() !== 'none'"
		[style.background-image]="imageBackgroundUrl"
		[style.border-radius.px]="borderRadiusPx"
		(click)="onClickToggleSound()"
><span class="front"
	   [style.background-color]="backgroundColor"
	   [style.border-radius.px]="borderRadiusPx"
	   [style.border-width.px]="borderWidthPx"
	   [style.border-color]="borderColor"
><span class="img-icon"
	   [style.background-color]="signalButtonSoundUrl() !== 'none' ? color : null"
	   [style.border-radius.px]="borderRadiusPx"
	   [style.mask-image]="signalButtonSoundUrl()"
></span></span></button>