@use "../../../../assets/scss/variables" as variables;

.dialog-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.3);

	// prevent zooming page
	touch-action: none;

	will-change: scale;

	.dialog {
		position: relative;
		width: 90%;
		// min-height: 79%;
		background-color: rgba(0, 0, 0, 0.6);
		// padding: 15px;
		padding: 70px 15px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		max-height: 1920px;
		overflow-x: clip;
		overflow-y: auto;

		&.shake {
			animation: shake 0.5s;
			animation-iteration-count: infinite;
		}

		.text {
			font-size: 0.9em;
			padding: 5% 0 7% 0;
		}

		.dialog-header {
			width: 100%;

			.dialog-title {
				font-weight: 700;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding: 20px 50px;

				.title {
					position: relative;
					//color: #d7d7d7;
					font-size: 1.5em;
					text-align: center;
					border-bottom: 2px solid #fff;
					padding: 25px 80px;
				}

				.star-image {
					//position: absolute;
					font-size: 1em;
					display: inline-block;

					// background-image: url('../../../../assets/images/svg/star.svg');
					/*background-repeat: no-repeat;
					background-size: cover;
					background-position: top;*/
					background-color: #fff; /*transparent;*/

					mask-image: none;
					mask-repeat: no-repeat;
					mask-size: contain;
					mask-position: center;

					width: 80px;
					height: 80px;
					transform-origin: center;
					animation: spin 10s linear infinite;

					/*top: 48px;

					&:first-child {
						left: 70px;
					}*/

					&:last-child {
						animation-direction: reverse;
					}
				}

				.game-time {
					font-size: 20px;
					font-weight: 500;
					display: block;
					text-align: center;
				}
			}
		}

		.dialog-body {
			overflow-wrap: break-word;
			font-size: 24px;
			//color: #000;
			padding: 20px 50px;
			width: 100%;

			.bonus {
				padding: 10px 0;
				margin-bottom: 20px;
				font-size: 56px;
				//color: #d7d7d7;

				.table {
					margin-bottom: 0;

					tr {
						th {
							font-size: 32px;
						}
					}

					td, th {
						padding: 5px 0;
						text-align: center;
						position: relative;

						.question-answer {
							display: block;
							font-size: 3rem;
							color: inherit;
							background-color: inherit;

							.correct, .not-correct {
								display: inline-block;
								width: 35px;
								height: 35px;

								mask-image: none;
								mask-repeat: no-repeat;
								mask-size: contain;
								mask-position: center;
								background-color: red;
							}

							.correct {
								background-color: green;
							}
						}
					}

					.col-bg {
						/*background-color: rgb(255 255 255 / 0.03);*/
						/* background for score */
					}

					.col-add {
						// display: block;
						position: relative;
						white-space: nowrap;
						top: -5px;
						left: 0;
						font-size: 26px;
						//color: rgba(255, 255, 255, 0.3);
						// color: rgb(194 228 228);
						// background-color: #00000008;
						color: #C2E4E4FF;
						background-color: transparent;
					}
				}
			}

			.result, .total {
				//color: #fff;
				/*background-color: #ffffff1a;*/
				/* background for round score */
			}

			.result {
				//background-color: #fff;
				//border-radius: 3.5em;
				padding: 10px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				//font-weight: 700;
				font-size: 56px;
			}

			.total {
				//background-color: #fff;
				//border-radius: 3.5em;
				padding: 10px 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-weight: 700;
				font-size: 56px;
				margin-bottom: 20px;
			}
		}

		.dialog-footer {
			padding: 30px 40px;
			width: 100%;
		}
	}
}

.pre-timeout-ani01 {
	opacity: 0;
}

.timeout-ani01 {
	will-change: scale, opacity;
	animation: appear 1s ease-in-out;
}

@keyframes appear {
	from {
		scale: 1.6;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}