.game-background {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;

	background-image: linear-gradient(-45deg, #ee775288, #e73c7e88, #23a6d588, #23d5ab88);
	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
	overflow: hidden;

	.klecks-container {
		position: absolute;
		top: 0;
		left: 0;
		animation: rotate 15s linear infinite;

		.klecks {
			position: relative;
			top: 880px;
			left: -170px;
			width: 300px;
			height: 300px;
			background-color: #fff;
			border-radius: 50%;
			filter: blur(150px);
		}

		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			50% {
				transform: rotate(180deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	.klecks2-container {
		position: absolute;
		bottom: 0;
		left: 0;
		animation: rotate 20s linear infinite;

		.klecks {
			position: relative;
			bottom: 660px;
			right: -170px;
			width: 200px;
			height: 200px;
			background-color: #fff;
			border-radius: 50%;
			filter: blur(150px);
		}

		@keyframes rotate {
			0% {
				transform: rotate(0deg);
			}
			50% {
				transform: rotate(180deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	.shape {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-color: rgba(0, 0, 0, 0.4);
	}

	@keyframes gradient {
		0% {
			background-position: 0 25%;
		}
		50% {
			background-position: 100% 75%;
		}
		100% {
			background-position: 0 25%;
		}
	}
}