@if (signalBackgroundImage()) {
	<div class="background-container"
		 [style.background-image]="signalBackgroundImage()"
	></div>
}

<app-game-background [pageHeight]="signalPageHeight()" [scaling]="signalScaling()"></app-game-background>

<div #overlayContainer class="page-container"
	 [style.width.px]="signalPageWidth()"
	 [style.height.px]="signalPageHeight()"
>
	<div #elementToScale class="element-to-scale"
		 [style.transform]="signalScaleTransform()"
		 [style.margin-block-start]="signalScaleMargin()"
		 [style.height.px]="signalScaleHeight()"
		 [style.color]="gameService.signalGameConfig()?.fontColorMain"
		 [style.--bs-table-color]="gameService.signalGameConfig()?.fontColorMain"
	>
		<div class="game-header"
			 [class.game-header-enabled]="panelService.signalIsGameHeaderEnabled()">
			<app-game-header #gameHeader></app-game-header>
		</div>
		<div class="main-content" [class.game-header-enabled]="panelService.signalIsGameHeaderEnabled()">
			<div #main class="main scrollbar">
				<router-outlet></router-outlet>
			</div>
		</div>
		<app-game-coins #gameCoins></app-game-coins>
	</div>
</div>
<app-toast
	[fontSize]="16"
></app-toast>
<!--<app-still-there (away)="onAway()"></app-still-there>-->
@if (signalIsInlineConsoleVisible()) {
	<app-inline-console></app-inline-console>
}