.title {
	margin-bottom: 80px;
}

.timespan-container {
	width: 100%;
	padding-left: 4px;
	margin-bottom: 10px;

	.empty-col {
		display: inline-block;
		width: 55px;
	}

	.img-icon {
		display: inline-block;
		width: 100%;
		height: 100%;

		mask-image: none;
		// mask-image: url('image.png');
		mask-repeat: no-repeat;
		mask-size: contain;

		background-color: #fff;
	}
}

.current-timespan {

}

.button-container {
	width: 100%;
	margin-top: 60px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}