<div class="content">
	<div class="content-container">
		<div class="row">
			<div class="col-6">
				
				<!--<div class="input-buttons">
					<div class="mushroom-button">
						<img [ngSrc]="'assets/images/mushroom-button-down-small.png'" alt="" width="200" height="226"
							 priority
							 [class.active]="mushroomButtonInputService.signalIsLeftButtonDown()"
						>
						<img [ngSrc]="'assets/images/mushroom-button-up-small.png'" alt="" width="200" height="226"
							 priority
							 [class.active]="!mushroomButtonInputService.signalIsLeftButtonDown()"
						>
					</div>
				</div>-->
			</div>
			
			<div class="col-6">
			<!--	<div class="team">
					<p>{{ 'hello' | nativeTranslate : null : initService.signalAppQueryParams().locale }}</p>
					<div class="flag">
						<img [ngSrc]="'assets/images/icons/flags/4x3/' +
					 initService.signalAppQueryParams().flagCountry + '.svg'" alt="" fill>
					</div>
				</div>-->
				<!--<div class="input-buttons">
					<div class="mushroom-button">
						<img [ngSrc]="'assets/images/mushroom-button-down-small.png'" alt="" width="200" height="226"
							 priority
							 [class.active]="mushroomButtonInputService.signalIsRightButtonDown()"
						>
						<img [ngSrc]="'assets/images/mushroom-button-up-small.png'" alt="" width="200" height="226"
							 priority
							 [class.active]="!mushroomButtonInputService.signalIsRightButtonDown()"
						>
					</div>
				</div>-->
			</div>
		</div>
		<button type="button" class="btn btn-primary" (click)="onClickBase()">Base page</button>
		<button type="button" class="btn btn-primary" (click)="onClickStartGame()">Start game</button>
	</div>
</div>