.team {
	height: 250px;

	.flag {
		position: relative;
		width: 100px;
		height: 67px;
	}

	.user {
		padding: 0 10px;
	}
}

.input-buttons {
	.mushroom-button {
		display: inline-block;
		position: relative;
		width: 100px;
		height: 113px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100px;
			height: auto;
			opacity: 0;

			&.active {
				opacity: 1;
			}
		}
	}
}

.timer-both-buttons {
	position: fixed;
	z-index: 3000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}