.game {
	position: relative;
	width: 100%;
	/*height: calc(100% - 2.5vw);*/
	/*height: calc(100% - 1.9em);*/
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	scale: 0;
	overflow: hidden;
	transition: scale 1000ms;

	&.show {
		scale: 1;
	}

	.background {
		position: absolute;
		transform: scale(1, 1);
		transform-origin: center center;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
		/*border-bottom-left-radius: 45px;
		border-bottom-right-radius: 45px;*/
	}

	canvas {
		position: absolute;
		transform: scale(1, 1);
		transform-origin: center center;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 100;
	}

	.button-container {
		position: absolute;
		//bottom: 114px;
		color: #fff;
		z-index: 100;
		width: 100%;
		pointer-events: none;
		text-align: center;

		.text {
			font-size: 46px;
			position: absolute;
			top: -130px;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			text-align: center;
			padding: 30px 80px;
		}

		.btn {
			pointer-events: all;
			position: relative;
			/*position: absolute;*/
			/*bottom: 0;
			left: 50%;
			transform: translateX(-50%);*/
			border: 1px solid #ba83d6;
			color: #fff;
			cursor: pointer;
			width: 240px;
			height: 240px;
			border-radius: 50%;
			overflow: hidden;

			&:hover {
				//opacity: 0.7;
			}

			.pressed {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 250px;
				height: 250px;
				background-color: #fff;
				opacity: 0.3;

				border-radius: 50%;
			}
		}
	}
}

.debug-container {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	font-size: 35px;

}


.loader2 {
	width: 98px;
	height: 98px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;

	.anim {
		width: 98px;
		height: 98px;
		border-radius: 50%;
		background: #FFF;
		position: absolute;
		left: 0;
		top: 0;
		box-sizing: border-box;

		opacity: 0;
		animation: animLoader 4s ease-in-out infinite;

		&:nth-child(even) {
			animation-delay: 1s;
		}
	}

	@keyframes animLoader {
		0%, 100% {
			transform: scale(0);
			opacity: 1;
		}
		50% {
			transform: scale(1);
			opacity: 0;
		}
	}
}