<div class="dialog-container dialog-multiplier-solved">
	<div class="dialog">
		<div class="dialog-header">
			<!--<div class="dialog-title mx-auto my-auto">
				<div class="title" [innerHTML]="titleKey ? (titleKey | nativeTranslate) : title"></div>
			</div>-->
			<!--<button type="button" class="btn" aria-label="Close"
			(click)="onClickClose(false)"
			>
			<fa-icon [icon]="['fas', 'times']"></fa-icon>
		  </button>-->
		</div>
		<div class="dialog-body font-secondary">
			@if (isJsonContent) {
				<div>{{ content | json }}</div>
			} @else {
				<div [innerHTML]="(contentKey ? (contentKey | nativeTranslate) : content)"></div>
			}
		</div>
		<div class="dialog-footer">
			@if (hasSafetyCheck) {
				<input type="checkbox"
					   id="safetyCheck"
					   [checked]="isSafetyChecked"
					   (change)="isSafetyChecked = !isSafetyChecked;"
				>&nbsp;<label for="safetyCheck" class="me-auto user-select-none">{{ 'safety-check' }}</label>
			}
			
			
			<app-base-button
				[configBtn]="null"
				[btnWidth]="'100%'"
				[btnContentWidth]="'100%'"
				[btnContentHeight]="'220px'"
				[btnRadius]="'80px'"
				[btnDisabled]="false"
				(clickButton)="onClickClose(false)"
			>
					<span class="btn-bg"
						  [style.background-image]="signalBtnBgImageUrl()"
						  [innerHTML]="contentNo ? contentNo : (contentNoKey ? (contentNoKey | nativeTranslate) : 'no' | nativeTranslate)"
					></span>
			</app-base-button>
			
			<div class="empty-line"></div>
			
			<app-base-button
				[configBtn]="null"
				[btnWidth]="'100%'"
				[btnContentWidth]="'100%'"
				[btnContentHeight]="'220px'"
				[btnRadius]="'80px'"
				[btnDisabled]="false"
				(clickButton)="onClickClose(true)"
			>
					<span class="btn-bg"
						  [style.background-image]="signalBtnBgImageUrl()"
						  [innerHTML]="contentYes ? contentYes : (contentYesKey ? (contentYesKey | nativeTranslate) : 'yes' | nativeTranslate)"
					></span>
			</app-base-button>
		</div>
	</div>
</div>
