@use "../../../../assets/scss/variables" as variables;

.dialog-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	pointer-events: auto;
	z-index: 1;
	background-color: #172f708a;

	// prevent zooming page
	touch-action: none;

	will-change: scale;

	.dialog {
		position: relative;
		width: 60%;
		// min-height: 79%;
		background-color: #fff;
		padding: 195px 135px 95px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		color: variables.$app-main-blue-color;
		border-radius: 80px;
		border: 8px solid variables.$app-main-blue-color;

		.dialog-header, .dialog-body, .dialog-footer {
			width: 100%;
		}

		.dialog-title {
			font-weight: 700;

			.title {
				position: relative;
				// color: #d7d7d7;
				font-size: 1.5em;
			}
		}

		.dialog-body {
			overflow-wrap: break-word;
			font-size: 56px;
			// color: #d7d7d7;
		}

		.dialog-footer {
			padding: 30px 0;

			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;

			/*.btn-primary, .btn-secondary {
				padding: 15px 10px;
				border-radius: 0;
				width: 100%;
				font-size: 56px;

				&:hover {
					background-color: inherit;
				}
			}*/

			.btn-bg {
				width: 630px;
				height: 220px;

				position: relative;
				//		border-radius: 50%;
				//border-style: solid;

				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				background-color: transparent;

				display: flex;
				justify-content: center;
				align-items: center;

				border-radius: 80px;
				font-size: 72px;
			}
		}
	}
}