.btn-close-container {
	right: 0;
}

.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	// prevent zooming page, but allow scrolling
	touch-action: pan-y;

	.content-container {
		p {
			margin-bottom: 3em;
		}
	}
}

.button-container {
	width: 100%;
	padding-bottom: 3em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/*.btn-close-back {
		display: block;
		width: 400px;
		padding: 40px 10px;
		min-width: auto;
		font-size: 1em;

		background-color: #d4d4d442;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}*/
}