.modal-title {
	font-weight: 700;

	.title {
		position: relative;
		color: #d7d7d7;
		font-size: 1.5em;
	}
}

.modal-body {
	overflow-wrap: break-word;
	font-size: 56px;
	color: #d7d7d7;
}

.modal-footer {
	padding: 30px 40px;

	.btn-primary, .btn-secondary {
		padding: 15px 10px;
		border-radius: 0;
		width: 100%;
		font-size: 56px;
	}
}