.split-screen-title {
	padding: 12px 35px;
	width: 450px;
	height: 450px;
	scale: 2.5;
	text-align: center;
	line-height: 1.5;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	margin-bottom: 215px;
	margin-right: 21px;
}