<!--<ng-container *ngIf="userGameService.signalTaskNumber() === 1">-->
<!--<app-shape-slingshot
[gameConfigUrl]="'assets/json/task1-game-config.json'"
(finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
></app-shape-slingshot>
<div class="info-container">
  <div class="icon-image"></div>
  <div>
    <strong>Drag the feature-cards onto the correct apps.</strong><br>
    The game ends when all feature-cards have been assigned correctly.
  </div>
</div>-->
<!--<app-swipe-yes-no
[gameConfigUrl]="'assets/json/question-config.json'"
[currentQuestionId]="initService.signalAppQueryParams().questionIdLast"
[playerName]="initService.signalAppQueryParams().userFirstName"
(finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
></app-swipe-yes-no>-->
@if (gameService.currentTopic) {
	<app-swipe-yes-no
		#swipeYesNoComponent
		[gameConfigUrl]="gameService.currentTopic.url"
		[currentQuestionId]="currentQuestionId"
		[correctComboCount]="signalCorrectComboCount()"
		[maxQuizQuestionCount]="signalMaxQuizQuestionCount()"
		(selectAnswerEvent)="selectAnswerEvent($event)"
		(finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
	></app-swipe-yes-no>
}
<!--</ng-container>
<ng-container *ngIf="userGameService.signalTaskNumber() === 2">
  <app-shape-slingshot
    [gameConfigUrl]="'assets/json/task2-game-config.json'"
    (finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
  ></app-shape-slingshot>
  <div class="info-container">
    <div class="icon-image"></div>
    <div>
      <strong>Drag the cards into the categories you think they relate to.</strong><br>
      The game ends when all cards have been assigned correctly.
    </div>
  </div>
</ng-container>
<ng-container *ngIf="userGameService.signalTaskNumber() === 3">
  <app-card-pairs
    [gameConfigUrl]="'assets/json/task3-game-config.json'"
    (finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
  ></app-card-pairs>
  <div class="info-container">
    <div class="icon-image"></div>
    <div>
      <strong>Match the statement and description.</strong><br>
      The game ends when all cards have been paired correctly.
    </div>
  </div>
</ng-container>
<ng-container *ngIf="userGameService.signalTaskNumber() === 4">
  <div class="task-4">
    <app-shape-slingshot
      [gameConfigUrl]="'assets/json/task4-game-config.json'"
      (finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
    ></app-shape-slingshot>
    <div class="info-container">
      <div class="icon-image"></div>
      <div>
        <strong>Drag the component-cards onto the correct targets.</strong><br>
        The game ends when all component-cards have been assigned correctly.
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="userGameService.signalTaskNumber() === 5">
  <app-shape-slingshot
    [gameConfigUrl]="'assets/json/task5-game-config.json'"
    (finishGame)="onFinishGame($event.isSuccess, $event.runtime)"
  ></app-shape-slingshot>
  <div class="info-container">
    <div class="icon-image"></div>
    <div>
      <strong>Drag the feature-cards onto the correct TRUE or FALSE fields.</strong><br>
      The game ends when all cards have been placed correctly.
    </div>
  </div>
</ng-container>-->

<app-ani-split-screen-title
	#aniSplitScreenTitleComponent
	[backgroundColor]="signalSplitScreenColorBg()"
	[backgroundImageUrl]="signalSplitScreenBackgroundImage()"
	[splitScreenAnimationType]="signalSplitScreenAnimationType()"
>
	<ng-template>
		<h1 class="split-screen-title"
			appAutoFitFont
			[heightPx]="390"
			[maxFontSize]="52"
			[minFontSize]="30"
			[innerHTML]="signalCategoryKeyName() | nativeTranslate  : null : null: true"
		></h1>
	</ng-template>
</app-ani-split-screen-title>

@if (signalIsShowingTaskSolvedDialog()) {
	<div class="dialog-animation-container"
		 animate.enter="dialog-enter"
		 animate.leave="dialog-leave">
		<app-dialog-task-solved
			[runtime]="runtime"
			[topicQuestionResultList]="gameService.topicQuestionResultList"
			[roundScore]="gameService.getTotalTopicQuestionScore()"
			[totalScore]="userGameService.signalGameScore().score"
			[wasLastGame]="wasLastGame"
			[showAllQuizQuestions]="false"
			(cancelDialog)="exit()"
		></app-dialog-task-solved>
	</div>
}