.board {
	width: 100%;

	.bet-line {
		position: relative;
		margin: 50px auto;
		width: 80%;
		height: 10px;
		background-color: #ffffff63;

		.bet-point {
			position: absolute;
			width: 35px;
			height: 35px;
			background-color: #fff;
			border-radius: 50%;
			top: 0;
			left: 0;
			transform: translate(-50%, -10px);
			cursor: pointer;
			pointer-events: auto;
			touch-action: auto;
		}
	}

	.btn-container {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;

		.btn-plus, .btn-minus {
			color: #fff;
			width: 100px;
			height: 100px;
			border: 1px solid #fff;
			font-size: 100px;
			line-height: 1;
			padding: 0;

			&:disabled {
				opacity: 0.5;
			}
		}
	}
}