/* museo-sans-500 - latin */
@font-face {
	font-family: 'Museo-Sans-500';
	font-style: normal;
	font-weight: 500;
	src: local(''),
	url('../../fonts/museo-sans/museo-sans-500.woff2') format('woff2') /* Super Modern Browsers */
}

/* museo-sans-700 - latin */
@font-face {
	font-family: 'Museo-Sans-700';
	font-style: normal;
	font-weight: 700;
	src: local(''),
	url('../../fonts/museo-sans/museo-sans-700.woff2') format('woff2') /* Super Modern Browsers */
}