.pushable {
	border: none;
	padding: 0;
	cursor: pointer;
	outline-offset: 4px;

	border-radius: 0;

	/*background-color: #d4d4d442;*/
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:active, &:focus:hover {
		border-style: solid;
		border-width: 0;

		//opacity: 0.7;
	}

	&.hover-able {
		&:hover {
			border-style: solid;
			border-width: 0;

			//opacity: 0.7;
		}
	}

	pointer-events: auto;

	perspective: inherit;
	transform-style: preserve-3d;

	.border-ring {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-bottom: 0 solid #ffffff05;
		box-shadow: 0 -10px 20px 20px #ffffff40 inset,
		0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset,
		0 -3px 2px #ffffffbb inset, 0 2px 0px #ffffff, 0 2px 3px #ffffff,
		0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
		filter: blur(3px);
		animation: 2s rotate linear infinite;
	}

	@keyframes rotate {
		100% {
			transform: rotate(360deg)
		}
	}

	.front {
		border-radius: 0;

		display: block;
		color: #fff;
		width: 100%;
		height: 100%;
		border-style: solid;
		border-width: 0;

		line-height: 1.5;

		transition: transform 75ms ease-in-out;
		// transform: translateY(-6px);
		transform: translate3d(-4px, 2px, 4px);

		background-color: #d4d4d442;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&:active .front {
		//transform: translateY(-2px);
		transform: translate3d(0, 0, 0);
	}
}