.still-there {
	position: fixed;
	z-index: 3000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	.timer {
		.seconds {
			font-size: 5vw;
		}

		background-color: rgba(59, 59, 59, 1);
		border-radius: 50%;
		font-size: 3vw;
		width: 20vw;
		height: 20vw;
		/*animation: spin 10s linear infinite;*/
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
}

.text-container {
	font-size: 3vw;
	text-align: center;
	margin-bottom: 50px;

	.btn-still-there {
		margin-bottom: 2vw;
	}
}

.debug-gui {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: left;
	color: #000;
	padding: 1vw;
	background-color: #fff;
	border: 1px #000 solid;
	z-index: 1000;
	overflow: hidden;
	font-size: 0.8vw;
	line-height: 1;
	opacity: 0.8;
}